
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #182933;
    font-family:"Montserrat", serif;
}

h3 {
    font-weight: bold;
    color: #2c3e50;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Garante que o contêiner ocupe a altura total da tela */
    position: relative;
    padding: 0;
    top: -3%;

}

.card {
    background-color: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 400px; /* Define uma altura mínima para o card */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui o conteúdo de forma igual */
    padding: 40px;
    padding-top: 40px;
}

.card-title {
    
    font-size: 2.3rem;
    color: #34495e;
    text-transform: uppercase;
    margin-top: 0;
    padding: 0;
    
}

.form-label {
    font-size: 1rem;
    color: #34495e;
}

.form-control,
.form-select {
    border-radius: 10px;
    border: 1px solid #bdc3c7;
    font-size: 0.9rem;
    padding:10px;
    outline: none;
    

}

button {
    background-color: #27ae60;
    color: white;
    font-size: 1rem;
    padding: 20px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2ecc71;
    cursor: pointer;
}

.form-check-input {
    width: 30px;
    height: 30px;
}

.form-check-label {
    font-size: 0.9rem;
    color: #34495e;
}

.modal-content {
    border-radius: 10px;
    padding: 20px;
}

.modal-body p {
    font-size: 1.2rem;
    margin: 0;
}

.modal-body .fs-1 {
    font-size: 3rem; /* Tamanho do símbolo de check */
}

.modal-footer button {
    width: 100px;
    font-weight: bold;
}
