{% extends 'menu.html' %}

{% block body_class %}dashboard{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% load custom_filters %}

{% block content %}
<div class="dashboard">
    <div class="top-windows">
        <div class="window">
            <div class="window-title">Saldo</div>
            <div class="window-content">{{ saldo_atual|currency }}</div>
        </div>
        <div class="window entrada">
            <div class="window-title">Entrada</div>
            <div class="window-content">{{ total_rendas|currency }}</div>
        </div>
        <div class="window saida">
            <div class="window-title">Saída</div>
            <div class="window-content">{{ total_despesas|currency }}</div>
        </div>
    </div>
    <div class="center-windows">
        <div class="window no-title">
            <div class="window-content">
                <canvas id="barChart" width="400" height="200"></canvas>
            </div>
        </div>
        <div class="window no-title">
            <div class="window-content">
                <canvas id="doughnutChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
</div>


{% load static %}
<link rel="stylesheet" href="{% static 'CSS/dashboard.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'Js/dashboard.js' %}"></script>
<script id="categorias_json" type="application/json">{{ categorias_json|safe }}</script>
<script id="valores_json" type="application/json">{{ valores_json|safe }}</script>
<script id="categorias_porcentagem_json" type="application/json">{{ categorias_porcentagem_json|safe }}</script>
<script id="porcentagens_json" type="application/json">{{ porcentagens_json|safe }}</script>
{% endblock %}