body.dashboard {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #182933;
    overflow: hidden;
}

.dashboard {
    zoom: 80%; /* Define o zoom apenas para o contêiner do dashboard */
}

.top-windows, .center-windows, .bottom-windows {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.center-windows, .bottom-windows {
    gap: 20px; /* Espaço entre as janelas */
}

.window {
    background-color: #ecf0f1;
    width: 30%; /* Mantém o tamanho original das janelas superiores */
    height: 120px; /* Mantém o tamanho original das janelas superiores */
    border-radius: 15px; /* Adiciona bordas arredondadas */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.window.no-title {
    width: calc(50% - 10px); /* Ocupa metade da largura da tela menos o espaço entre as janelas */
    height: 308px; /* Aumenta a altura em 8px */
}

.window.larger-window {
    width: 50%; /* Ocupa 50% da largura da tela */
    height: calc(50vh - 25vh + 110px); /* Ajusta a altura para não ultrapassar o menu lateral e estende 10px abaixo da tabela */
    display: flex;
    flex-direction: column;
}

.window:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.window-title {
    font-size: 1.8em;
    font-weight: bold;
    color: white; /* Cor branca para o título */
    background-color: #198754; /* Cor verde para o fundo do título */
    padding: 5px 10px; /* Ajuste o padding superior para mover a linha divisória para cima */
    border-bottom: 1px solid #182933;
    text-align: center;
    border-top-left-radius: 15px; /* Bordas arredondadas no topo esquerdo */
    border-top-right-radius: 15px; /* Bordas arredondadas no topo direito */
    position: sticky; /* Torna o título fixo */
    top: 0; /* Fixa o título no topo da janela rolável */
    z-index: 2; /* Garante que o título fique acima do conteúdo rolável */
}

.window-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 2em; /* Aumenta o tamanho dos números */
    font-weight: bold;
    color: #182933;
    border-bottom-left-radius: 15px; /* Bordas arredondadas na parte inferior esquerda */
    border-bottom-right-radius: 15px; /* Bordas arredondadas na parte inferior direita */
}

.scrollable {
    flex-grow: 1;
    overflow-y: auto; /* Permite rolagem vertical */
    padding-right: 10px; /* Adiciona padding à direita para afastar a barra de rolagem */
    box-sizing: border-box; /* Inclui o padding no cálculo da largura */
}

/* Estilização da barra de rolagem */
.scrollable::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.scrollable::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
}

.scrollable::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da barra de rolagem ao passar o mouse */
}

/* Estilização do cabeçalho da tabela */
.table-container thead th {
    background: #d1e7dd; /* Cor de fundo do cabeçalho para melhorar visibilidade */
    color: #343a40; /* Cor mais escura para o texto do cabeçalho */
}