{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despesa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'user/despesas.css' %}">
</head>
<body>
    <div class="container mt-5">
        {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-body">
                <h3 class="card-title text-center">Despesa</h3>
                <form method="POST" novalidate id="despesa-form">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.nome_despesa.label_tag }}
                        {{ form.nome_despesa }}
                    </div>
                    <div class="mb-3">
                        {{ form.valor_despesa.label_tag }}
                        {{ form.valor_despesa }}
                    </div>
                    <div class="mb-3">
                        {{ form.categoria_despesa.label_tag }}
                        {{ form.categoria_despesa }}
                    </div>
                

                    </div>
                    <button type="submit" class="btn btn-success w-100">Lançar Despesa</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
