{% extends 'user/base.html' %}

{% block title %}Despesas Fixas{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'user/despesas.css' %}">
<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-body">
            <h3 class="card-title text-center">Despesas Fixas</h3>

            <!-- Exibe mensagens de sucesso/erro -->
            {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="POST" novalidate id="despesa-form">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.nome_despesa.label_tag }}
                    {{ form.nome_despesa }}
                </div>
                <div class="mb-3">
                    {{ form.valor_despesa.label_tag }}
                    {{ form.valor_despesa }}
                </div>
                <div class="mb-3">
                    {{ form.categoria_despesa.label_tag }}
                    {{ form.categoria_despesa }}
                </div>
                <div class="mb-3">
                    {{ form.data_final.label_tag }}
                    {{ form.data_final }}
                </div>

                <button type="submit" class="btn btn-success w-100">Lançar Despesa</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title mx-auto" id="successModalLabel">Sucesso!</h5>
            </div>
            <div class="modal-body text-center">
                <p>Lançamento realizado com sucesso!</p>
                <span class="text-success fs-1">&#10004;</span> <!-- Símbolo de Validade -->
            </div>
            <div class="modal-footer border-0">
                <a href="{% url 'despesa_fixa' %}" class="nav-link text-light btn btn-success mb-2">ok</a>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Verifica se existe alguma mensagem de sucesso
        const messageContainer = document.querySelector('.alert-success');
        if (messageContainer && messageContainer.textContent.trim() !== '') {
            // Mostra o modal de sucesso
            const successModal = new bootstrap.Modal(document.getElementById('successModal'));
            successModal.show();
        }
    });
</script>
{% endblock %}
