<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %} <!--garante que os arquivos static vão ser carregados-->
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user/style.css' %}">  <!--? passa o caminho para a pasta 'user'onde se localiza o CSS-->
    <title>Tela de login</title>
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img src="{% static 'user/logo2.jpeg' %}" alt="Logo do projeto">  <!-- passa o caminho para a pasta 'user' onde está a logo-->
        </div>
        <div class="form">
            <form method="post">
                {% csrf_token %} <!--?Garente que o post feito seja reconhecido pela autenticação interna do django-->
                <div class="form-header">
                    <div class="Title">
                        <img src="{% static 'user/account.png' %}" alt="Ícone de login" class="login-image">  <!-- passa o caminho para a pasta 'user' onde está a imagem--> 
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <input type="text" name="username" placeholder="Usuário" required>
                    </div>
                    <div class="input-box">
                        <input type="password" name="password" placeholder="Senha" required>
                    </div>
                    <div class="login-botton">
                        <button type="submit">Login</button>
                    </div>
                    <div class="cadastrar">
                        <button type="button"><a href="{% url 'cadastrar' %}">Cadastrar</a></button><!--gera a URL que aponta para a página de cadastro de usuários, que foi nomeada como 'cadastrar' nas rotas.
                        -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
